<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/layout">
<head>
    <meta charset="UTF-8">
    <title>Productos</title>
</head>
<body>

    <div layout:fragment="content">
        <form th:action='@{/cotizaciones}' method="post" th:object="${wrapper}">

            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800">Catalogo de Productos</h1>
                <button type="submit" value="submit" class="btn btn-success">Cotizar</button>
            </div>

            <div class="container">
                <div class="card-deck mb-3 text-center" th:each="prds: ${productos}">

                    <div class="card mb-4 box-shadow" th:each="producto, stat : ${prds}">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal" th:text="${producto.getNombreProducto()}">Free</h4>
                        </div>
                        <div class="card-body">
                            <!--h1 class="card-title pricing-card-title" th:text="${producto.}">$0 <small class="text-muted">/ mo</small></h1-->
                            <ul class="list-unstyled mt-3 mb-4">
                                <li th:text="${producto.getDescripcionProducto()}">10 users included</li>
                                <!--li>2 GB of storage</li>
                                <li>Email support</li>
                                <li>Help center access</li-->
                            </ul>
                            <!--input type="checkbox" id="seleccion" name="seleccion" th:value="${producto.getIdProducto()}" th:checked="${producto.seleccionado}" -->

                            <input type="checkbox"
                                   th:value="${producto.getIdProducto()}"
                                   th:checked="${producto.selected}">

                        </div>
                    </div>
                </div>


            </div>


        </form>

    </div>

</body>
</html>