<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/layout">
<head>
  <meta charset="UTF-8">
  <title>Productos</title>
</head>
<body>

<div layout:fragment="content">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Mensajes</h1>
  </div>
  <!-- Begin Page Content -->
  <div class="container-fluid">

    <!-- 404 Error Text -->
    <div class="text-center">
      <div class="error mx-auto" data-text="200">200</div>
      <p class="lead text-gray-800 mb-5">Se ha registrado con éxito la información</p>
    </div>

  </div>

</div>

</body>
</html>